<div class="laurastylelike" style="z-index: -1;"></div>
<br>
<div style="text-align: center;">
  <i class="navbar-icone fa-solid fa-earth-americas fa-xl mt-4" style="font-size: 30px"></i>
  <h1 class="titre-candidatures" style="font-size: 22px">Mes candidatures</h1>
</div>

<% @my_attendances.each do |attendance| %>
  <div class="container mb-4 d-flex flex-column flex-wrap align-content-center">
    <%= link_to travel_path(attendance.travel, search_url: request.original_url) do %>
      <div class="mini-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(18,51,47,0.3)), linear-gradient(rgba(18,51,47,0.3),rgba(18,51,47,0.3)), url('<%= cl_image_path attendance.travel.photo.key, crop: :fill %>')">

        <div class="card-infos">
          <div class="destinationcard mb-2">
            <%= attendance.travel.destination %>
          </div>


          <div class="goldtag-candidature"> Du <%= attendance.travel.start_date.strftime("%d/%m") %> au <%= attendance.travel.end_date.strftime("%d/%m") %> </div>
            <% if attendance.status == "confirmed" %>
              <div class="greentag-candidatures"> <%= attendance.translated_status %> </div>
              <% elsif attendance.status == "rejected" %>
              <div class="redtag-candidatures"> <%= attendance.translated_status %> </div>
              <% else %>
              <div class="orangetag-candidatures"> <%= attendance.translated_status %> </div>
              <% end %>

        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "shared/navbar_create_travel" %>
