<div class="container chatroom"
  data-controller="travel-subscription"
  data-travel-subscription-travel-id-value="<%= @travel.id %>"
  data-travel-subscription-current-user-id-value="<%= current_user.id %>">

  <h1><%= @travel.destination %> - <%= @travel.user.name %></h1>

  <div class="messages" data-travel-subscription-target="messages">
    <% @travel.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@travel, @message],
    html: { data: { action: "turbo:submit-end->travel-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message dans #{@travel.destination} ",
      wrapper_html: { class: "flex-grow-1" },
      input_html: { class: "chatroom-input"}
    %>
    <%= button_tag(type: 'submit', class: 'btn-submit') do %>
      <i class="fa-regular fa-paper-plane"></i>
    <% end %>
  <% end %>
</div>

<%= render "shared/navbar_messages" %>
