<% @travels.each do |travel|%>
  <div>
    Airport: <%= travel.airport_start %>
    Destination: <%= travel.destination %>
    Start_date: <%= travel.start_date %>
    Mood: <%= travel.mood %>
    Age: <%= travel.age %>
  </div>
<% end %>
