<div class="container-show-user" >
  <div class="btn-retour">
    <%= link_to @search_url do %>
      <i class="fa-solid fa-arrow-left fa-xl p-3" style="position: absolute; top: 10px; left: 0; color: #fde8d0;"></i>
    <% end %>
</div>

  <h1 class="destination mb-0" style="font-size: 250%;"><%= @travel.destination %></h1>
  <div class="soustitre mb-5">proposé par</div>
  <% if @travel.user.photo.attached? %>
    <%= link_to user_path(@travel.user, search_url: request.original_url) do %>
      <%= cl_image_tag @travel.user.photo.key, class: "img-show rounded-circle mb-2" %>
    <% end %>
  <% end %>
  <h1 class="mb-0"><%= link_to @travel.user.name.capitalize, user_path(@travel.user), style: "text-decoration: none; color: #f5eadd" %></h1>
  <p><%= @travel.user.age %> ans </p>
</div>


  <div class="show-user-description px-3">
  <div class="justify-content-around row">
    <div class="col-6">
      <button type="button" class="btn btn-candidate rounded-5 w-100">Contacter</button>
    </div>
    <div class="col-6">
      <% unless @travel.user_has_attended?(current_user) %>
        <%= form_with(model: [@travel, Attendance.new], local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.submit 'Candidater', class: "btn btn-candidate rounded-5 w-100" %>
        <% end %>
      <% else %>
        <button type="button" class="btn btn-secondary rounded-5 w-100" disabled>Déjà candidaté</button>
      <% end %>
    </div>
  </div>
  <br/>

  <div class="d-flex flex-wrap mb-3">
    <div class="goldtag"> Du <%= @travel.start_date.strftime("%d/%m") %> au <%= @travel.end_date.strftime("%d/%m") %> </div>
    <div class="goldtag"> Départ - <%= @travel.airport_start %> </div>
    <div class="goldtag"> Budget max - <%= @travel.budget_max %> € </div>
    <div class="goldtag"><%= @travel.mood %> </div>
  </div>

  <h1 class="fs-4" style="color: #F5EADD;  font-family: 'Dela Gothic One', sans-serif">Le programme</h1>
    <%= @travel.description %>

</div>
  <h2>Les particpants</h2>
  <% @travel.attendances.confirmed.each do |attendance| %>
      <p><%= link_to attendance.user.name, user_path(attendance.user), class: %></p>
    <% end %>

<%= render "shared/navbar_search" %>
 </div>
