<div class="container-show-user" >
  <div class="btn-retour">
    <%= link_to @search_url do %>
      <i class="fa-solid fa-arrow-left fa-xl p-3" style="position: absolute; top: 10; left: 0; color: #fde8d0;"></i>
    <% end %>
</div>

  <h1>Your wacky trip</h1>
  <% if @travel.user.photo.attached? %>
    <%= link_to user_path(@travel.user, search_url: request.original_url) do %>
      <%= cl_image_tag @travel.user.photo.key, class: "img-show rounded-circle" %>
    <% end %>
  <% end %>
  <h1><strong><%= link_to @travel.user.name.capitalize, user_path(@travel.user), style: "text-decoration: none; color: #f5eadd" %></strong></h1>
  <p><%= @travel.user.age %> ans </p>
  <p>propose</p>
  <h1 class="destination"><%= @travel.destination %></h1>
</div>


  <div class="show-user-description px-3">
  <div class="justify-content-around row">
    <div class="col-6">
      <button type="button" class="btn btn-secondary rounded-5 w-100">Contacter</button>
    </div>
    <div class="col-6">
      <% unless @travel.user_has_attended?(current_user) %>
        <%= form_with(model: [@travel, Attendance.new], local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.submit 'Candidater', class: "btn btn-secondary rounded-5 w-100" %>
        <% end %>
      <% else %>
        <button type="button" class="btn btn-secondary rounded-5 w-100" disabled>Déjà candidaté</button>
      <% end %>
    </div>
  </div>
  <br/>

  <div class="card-details d-flex ">
    <p><%= @travel.airport_start %></p>
    <p><%= @travel.start_date %></p>
    <p><%= @travel.end_date %></p>
    <p><%= @travel.budget_max %> €</p>
    <p><%= @travel.mood %></p>
    <p><%= @travel.age %> ans</p>
  </div>
  <h1>Le voyage proposé</h1>
  <p><%= @travel.description %></p>
</div>

<%= render "shared/navbar_search" %>
