<h1>Your wacky trip</h1>
<div class="container">
  <ul>
    <li><%= @travel.airport_start %></li>
    <li><%= @travel.start_date %></li>
    <li><%= @travel.end_date %></li>
    <li><%= @travel.budget_max %></li>
    <li><%= @travel.destination %></li>
    <li><%= @travel.mood %></li>
    <li><%= @travel.age %></li>
  </ul>
</div>
