<div class="container-show-user", style="background-image: linear-gradient(0deg, rgba(27,50,50,1) 1%, rgba(27,50,50,0.7) 80%), url('<%= cl_image_path @travel.photo.key %>');">
  <div class="btn-retour">
    <%= link_to @search_url do %>
      <i class="fa-solid fa-arrow-left fa-xl p-3" style="position: absolute; top: 10px; left: 0; color: #fde8d0;"></i>
    <% end %>
  </div>

  <h1 class="destination mt-5 mb-4" style="font-size: 250%;"><%= @travel.destination %></h1>
  <div class="soustitre mt-5", style="font-size: medium">proposé par</div>

    <%= link_to user_path(@travel.user, search_url: request.original_url), class:"lien", style:"width: 90vw" do %>
      <div class="carditem mb-4", style="background-color: #244444">
        <div class="d-flex", style="color: #F5EADD; font-family: 'Dela Gothic One', sans-serif">
          <%= cl_image_tag @travel.user.photo.key, style:"width: 55px; height: 55px !important" , class: "carditem-avatar me-2", alt: "dropdown menu" %>
          <div style="font-size: x-large; line-height: 1.25; align-self: center;">
            <%= @travel.user.name %>
            <div class="soustitre" style="font-size: medium;"><%= @travel.user.age %> ans</div>
          </div>
        </div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    <% end %>
</div>
<div class="show-user-description px-3">
  <div class="justify-content-around row mb-5">
    <div class="col-6">
      <% if current_user != @travel.user %>
        <%= link_to "Contacter", chatroom_path(current_user.chatroom(@travel.user)), class: "btn btn-candidate rounded-5 w-100" %>
      <% end %>
    </div>
    <div class="col-6">
      <% if current_user != @travel.user %>
        <% unless @travel.user_has_attended?(current_user) %>
          <%= form_with(model: [@travel, Attendance.new], local: true) do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.submit 'Candidater', class: "btn btn-candidate rounded-5 w-100" %>
          <% end %>
        <% else %>
          <button type="button" class="btn btn-secondary rounded-5 w-100" disabled>Déjà candidaté</button>
        <% end %>
      <% end %>
    </div>
  </div>

  <div data-controller="switch">
    <div class="d-flex">
      <div data-action="click->switch#programme" data-switch-target="onglet1" class="selectedpartial ">Détails</div>
      <div data-action="click->switch#participants" data-switch-target="onglet2"class="unselectedpartial">Participants</div>
    </div>

    <div data-switch-target="programme" class="backgroundpartial"><%= render "programme" %></div>
    <div data-switch-target="participants" class="d-none backgroundpartial"><%= render "participants" %></div>

  </div>
</div>

<%= render "shared/navbar_search" %>
