<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.name %></strong>
    à <i><%= l(message.created_at, format: "%Hh%M") %></i>
    le <i><%= l(message.created_at, format: "%d %b") %></i>
  </small>
  <p><%= message.content %></p>
</div>
