<div class="laurastylelike" style="z-index: -1;"></div>
<div class="container">
  <div class="d-flex flex-column align-content-center mb-4" >
    <i class="fa-regular fa-message fa-2xl p-4 mt-4 mb-1 align-self-center" style="color: #D6A266"></i>
    <p class="align-self-center h4" style='color: #F5EADD;  font-family: "Dela Gothic One", sans-serif'>Mes conversations</p>
  </div>
  <% @conversations.each do |conversation| %>
    <% if conversation.is_a?(Travel) %>
      <% travel = conversation %>
      <%= link_to chatroom_travel_path(travel), class:"lien" do %>
      <div class="carditem">
        <div style="color: #F5EADD;  font-family: 'Dela Gothic One', sans-serif">
          <%= cl_image_tag travel.photo.key, class: "card-trip-user avatar-bordered me-2" %>
          <%= travel.destination %>
          <% if travel.user.name != current_user.name %>
            avec <%= travel.user.name %>
          <% else %>
            mon voyage
          <% end %>
        </div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <% end %>
    <% else %>
      <% chatroom = conversation %>
      <%= link_to chatroom_path(chatroom), class:"lien" do %>
      <div class="carditem">
        <div style="color: #F5EADD;  font-family: 'Dela Gothic One', sans-serif">
          <%= cl_image_tag chatroom.other_user(current_user).photo.key, class: "card-trip-user avatar-bordered me-2", alt: "dropdown menu" %>
          <%= chatroom.other_user(current_user).name %>
        </div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= render "shared/navbar_messages" %>
