<div class="container chatroom pb-5"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div><h1><%= cl_image_tag @chatroom.other_user(current_user).photo.key, class: "carditem-avatar" %> <%= @chatroom.other_user(current_user).name %></h1></div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message pour #{@chatroom.other_user(current_user).name}...",
      wrapper_html: {class: "flex-grow-1"},
      input_html: { class: "chatroom-input"}
    %>
    <%= button_tag(type: 'submit', class: 'btn-submit') do %>
      <i class="fa-regular fa-paper-plane"></i>
    <% end %>
  <% end %>
</div>

<%= render "shared/navbar_messages" %>
