
<div class="container-show-user">
  <div class="btn-retour">
      <%= link_to @search_url do %>
        <i class="fa-solid fa-arrow-left fa-xl p-3" style="position: absolute; top: 10; left: 0; color: #fde8d0;"></i>
      <% end %>
</div>

  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "img-show rounded-circle"%>
  <% end %>
  <h1><strong><%= @user.name %></strong></h1>
  <p><%= @user.age %> ans </p>
  <% if current_user != @user %>
    <button type="button" class="btn btn-secondary rounded-5">Contacter</button>
  <% end %>
</div>
<div class="show-user-description">
  <b><h3>Présentation</h3></b>
  <p><%= @user.description %></p>
</div>


<div class="reviews">
   <% @reviews.each do |review| %>
        <div class="review-card d-flex">
            <div class="author-img">
                <%= cl_image_tag review.author.photo.key, class: "img-show rounded-circle"%>
                <span class="ms-2"><%= review.author.name %></span>
                <div class="date">
                  <%= review.created_at.strftime("%F") %>
                 </div>
            </div>

            <div class="rating">
                <button type="button" class="btn btn-secondary rounded-5 btn-rate"><i class="fa-solid fa-star fa-rotate-90"></i> <%= review.rating %></button>
            </div>
        </div>

      <div class="review-text">
          <%= review.comment %>
      </div>

  <% end %>

</div>

<%= render "shared/navbar_search" %>
