
<div class="container">
  <div class="banner half-width" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
        <div class="user-profile d-flex">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered me-2" />
            <h6><%= Travel.first.user.name.capitalize %> propose</h6>
        </div>

      <div class="card-infos">
          <div class="destination">
              <h1 class="text-white fw-bold"><%= Travel.first.destination %></h1>
              </br>
          </div>

          <div class="card-details d-flex">
              <p><%= Travel.first.start_date %></p>
              <p><%= Travel.first.mood %></p>
              <p><%= Travel.first.budget_max %> €</p>
              <p><%= Travel.first.age %> ans</p>
          </div>
      </div>

  </div>

</div>
